<!-- wp:template-part {"slug":"header-vsg","tagName":"header","className":"vsg-site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"vsg-landing","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group alignfull vsg-landing">

	<!-- wp:post-content {"align":"full","layout":{"type":"constrained","contentSize":"100%"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-vsg","tagName":"footer","className":"vsg-site-footer"} /-->
